page-login {
  img{
    position: absolute;
    width: 40%;
    height: auto;
    top: 30%;
    margin-left: 25%;
    margin-right: 25%;
  }
  button {
    position: absolute;
    width: 100%;
    height: auto;
    top: 90%;
  }
}
